<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="5.0.9" targetFramework="net40" allowedVersions="5.0.9" />
  <package id="Oracle.DataAccess.x86" version="2.102.2.20" allowedVersions="[2.102.2.20,2.102.2.50)" targetFramework="net40" developmentDependency="true" />
</packages>